<div>
  <button class="btn btn-success btn-outline-white btn-md my-0 ml-sm-2" (click)="loadData()" type="submit">Load Data</button>
  <form (ngSubmit)="search()" class="form-inline ml-auto">
      <div class="md-form my-0">
        <input class="form-control" type="text" [(ngModel)]="code" name="iso2Code" placeholder="Code" aria-label="Code">
      </div>
      <div class="md-form my-0">
        <input class="form-control" type="text" [(ngModel)]="name" name="name" placeholder="name" aria-label="Name">
      </div>
      <div class="md-form my-0">
        <input class="form-control" type="text" [(ngModel)]="city" name="capitalCity" placeholder="City" aria-label="Capital">
      </div>
      <button class="btn btn-success btn-outline-white btn-md my-0 ml-sm-2" type="submit">Search</button>
 </form>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Capital City</th>
      <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Lending Type</th>
            <th scope="col">Income Level</th>
            <th scope="col">Region</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="country">
      <td>{{country.id}}</td>
      <td>{{country.iso2Code}}</td>
      <td>{{country.name}}</td>
      <td>{{country.capitalCity}}</td>
      <td>{{country.latitude}}</td>
      <td>{{country.longitude}}</td>
      <td>{{country.lendingType}}</td>
      <td>{{country.incomeLevel}}</td>
      <td>{{country.region}}</td>
    </tr>
    <tr *ngFor="let country of countries">
      <td>{{country.id}}</td>
      <td>{{country.iso2Code}}</td>
      <td>{{country.name}}</td>
      <td>{{country.capitalCity}}</td>
      <td>{{country.latitude}}</td>
      <td>{{country.longitude}}</td>
      <td>{{country.lendingType}}</td>
      <td>{{country.incomeLevel}}</td>
      <td>{{country.region}}</td>
    </tr>
  </tbody>
</table>
</div>
